/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
.parole i {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.parole .rotating-text {
    opacity: 1;
}

.rotating-text {
    animation: rotateText 6s infinite;
}

@keyframes rotateText {
    0%, 100% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
    33.34%, 66.66% {
        opacity: 1;
    }
    66.67%, 100% {
        opacity: 0;
    }
}
